/* .project-container{
    min-height: 90vh;
}
.projectCard-navbar .btn:hover{
    border-bottom: 1px solid red;
}
.header-color{
    color: rgb(5, 5, 5);
} */
.title{
    margin-top:30px;
}
.title-nam{
    color: rgba(241, 10, 126, 0.918);
     font-family: 'Helvetica Neue', sans-serif; 
     font-size: 45px; 
     font-weight: bold;
      letter-spacing: -1px; 
      line-height: 1
}
 
